# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=metaverso_tfg
DB_PASSWORD=changeme
DB_PORT=5432

# Servidor Express
PORT=3000

# Broker MQTT (opcional, usa este valor por defecto si no se define)
MQTT_URL=mqtt://localhost:1883
